* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

html {
  background-image: url("../img/bg-img.jpg");
  background-position: center;
  background-sizing: cover;
  background-repeat: no-repeat;
}

button {
    background: linear-gradient(70deg, #e8a84f, #181640);
    padding: .3rem .6rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: 0.4s;
    color:  #fff;
}

button:hover {
    color: black;
    background: linear-gradient(70deg, #181640, #e8a84f);
}

button > i {
    color: white;
    font-weight: bold;
    pointer-events: none;
}

button:hover > i {
    color: black;
}

input, select {
    padding: 0.25rem 0.5rem;
}

/*.hide {
    display: none;}*/

    



