@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: black;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --btn-color1: #e8a84f;
  --btn-color2: #181640; 
  --bg-color: #87a5c9; 
  --select-color: #395169;
}

body {
  background-image: url('../img/bg-img.jpg');
  background-position: center;
  background-size: cover;
}

button {
  background: linear-gradient(75deg, #e8a84f,#181640);
  border: 2px solid #102f5d;
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
}

input, select {
  padding: 0.25rem 0.5rem;
}
 
.hide {
  display: none;
}

.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #87a5c9;
  padding: 1.5rem;
  border-radius: 5px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}


#todo-form, #edit-form {
  padding: 1rem;
  border-bottem: 1px solid #ccc;
}

#todo-form p, #edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: .5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

#search form {
  display: flex;
}
#search-input {
  width: 100%;
  margin-right: .3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: .3s;
}

.todo h3 {
  flex: 1;
  font-size: .9rem;
}

.todo button {
  margin-left: .4rem;
}

.done {
  background-color: var(--select-color);
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

